*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 80%;
    margin: 200px auto;
    text-align: center;
    background-color: lightgrey;
}

h1 {
    border: 1px solid black;
    color: red;
    line-height: 50px;
}

div {
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    min-height: 100px;
    align-items: center;
}

p {
    font-weight: bolder;
}